{% extends 'base.html.twig' %}


{% block body %}
    {{ form_start(form) }}

        <button type="submit" name="save_button" class="btn btn-primary">Valider</button>

    {{ form_end(form) }}
{% endblock %}